{% extends 'shop/basic.html' %}

{% block title %} About Us - My Awesome Cart {% endblock %}

{% block body %}
<div class="container mx-6 my-3">
    <h4>Welcome to IT-Store: Your One-Stop Destination for All Things Tech!</h4>

At IT-Store, we pride ourselves on being a premier technology retailer dedicated to providing our customers with the latest and greatest in tech products and services. Whether you're a tech enthusiast, a professional looking for advanced solutions, or a casual user in need of reliable technology, IT-Store has everything you need to stay connected, productive, and entertained.

</div>
{% endblock %}
